# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.UniversityAspMVC.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\ASP.NET\Projects\UniversityAspMVC\.idea\.idea.UniversityAspMVC\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
